body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../IMG/bgcheckout.gif);
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: fixed; /* Ajusta o tamanho da imagem para cobrir todo o contêiner */
}


.container {
    background-color: #d3d2d2b9;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d2d2b9;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-wrapper label {
    position: absolute;
    top: -10px; /* Ajuste para subir o rótulo */
    left: 20px;
    color: #000000;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease-out;
    background-color: #dad9d9;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 10px 0px 10px 0px;
}

.input-wrapper input {
    width: calc(100% - 40px);
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    transition: 0.3s ease-out;
    color: #333;
    outline: none; /* Remover borda ao focar */
}

.input-wrapper input:focus,
.input-wrapper input:valid {
    border-color: #000000;
}

.input-wrapper input:focus + label,
.input-wrapper input:valid + label {
    top: -20px; /* Ajuste para subir mais o rótulo ao focar */
    font-size: 12px;
    color: #000000;
}

.submit-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 20px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
}

.submit-btn:hover {
    background-color: #000000;
}

.fa-map-marker-alt {
    color: #000000;
    font-size: 48px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}