body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    background-image: url(../IMG/bgcheckout.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 210, 210, 0.73);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    max-width: 400px; /* Diminuindo a largura máxima */
    width: 90%;
    box-sizing: border-box;
    margin: 20px;
}

.credit-card {
    width: 100%; /* Largura do cartão de crédito responsiva */
    max-width: 250px; /* Diminuindo a largura máxima do cartão de crédito */
    height: 150px; /* Diminuindo a altura do cartão de crédito */
    perspective: 1000px;
    margin-bottom: 15px;
    position: relative;
    transform-style: preserve-3d;
}

.credit-card .front, .credit-card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(138, 42, 182, 0.2);
    background: linear-gradient(45deg, #5c0e5670, #780d8d);
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.credit-card .back {
    transform: rotateY(180deg);
    background: linear-gradient(45deg, #5c0e5652, #780d8d);
}

.card-logo {
    font-size: 0.8em; /* Ajustado para melhor visibilidade */
    font-weight: bold;
}

.chip {
    width: 30px; /* Diminuindo o tamanho do chip */
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}

.card-number, .card-holder div, .card-expiration div, .cvv-container div {
    font-size: 0.8em; /* Ajustado para melhor visibilidade */
}

.card-holder, .card-expiration, .cvv-container {
    display: flex;
    flex-direction: column;
}

.magnetic-strip {
    height: 15px; /* Diminuindo a altura da tira magnética */
    background-color: #333;
    margin: 8px 0;
}

.container .credit-card {
    position: relative;
}

.flipped .front {
    transform: rotateY(180deg);
}

.flipped .back {
    transform: rotateY(0);
}

.input-group {
    margin-bottom: 8px; /* Diminuindo o espaçamento */
    width: 100%;
}

label {
    margin-bottom: 3px;
    font-size: 0.7em; /* Ajustado para melhor visibilidade */
    color: #333;
}

input {
    padding: 6px; /* Diminuindo o preenchimento */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 0.8em; /* Ajustado para melhor visibilidade */
}

input::placeholder {
    color: #ccc;
}

.expiration-inputs {
    display: flex;
    align-items: center;
}

.expiration-inputs input {
    width: 30px; /* Diminuindo a largura */
    margin-right: 5px;
}

.expiration-inputs span {
    margin-right: 5px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px; /* Diminuindo o espaçamento */
    width: 100%;
}

.input-wrapper label {
    position: absolute;
    top: -10px;
    left: 20px;
    color: #aaa;
    font-size: 10px; /* Ajustado para melhor visibilidade */
    pointer-events: none;
    transition: 0.3s ease-out;
    background-color: #fff;
    padding: 0 5px;
}

.input-wrapper input {
    width: calc(100% - 30px);
    padding: 8px 15px; /* Diminuindo o preenchimento */
    font-size: 10px; /* Ajustado para melhor visibilidade */
    border: none;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    transition: 0.3s ease-out;
    color: #333;
    outline: none;
}

.input-wrapper input:focus,
.input-wrapper input:valid {
    border-color: #000000;
}

.input-wrapper input:focus + label,
.input-wrapper input:valid + label {
    top: -20px;
    font-size: 8px;
    color: #000000;
}

.submit-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 15px; /* Diminuindo o preenchimento */
    font-size: 12px; /* Ajustado para melhor visibilidade */
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center; /* Centralizando o botão */
    margin-left: 1.5vh;
}

.submit-btn:hover {
    background-color: #333;
}

.fa-map-marker-alt {
    color: #000000;
    font-size: 20px; /* Diminuindo o tamanho do ícone */
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.input-wrapper label {
    position: absolute;
    top: -10px;
    left: 20px;
    color: #000000;
    font-size: 10px; /* Ajustado para melhor visibilidade */
    pointer-events: none;
    transition: 0.3s ease-out;
    background-color: #dad9d9;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 10px 0px 10px 0px;
}
