body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#linkInsta {
    color: white;
    border-bottom: 1px solid transparent;
    border-radius: 5%;
}

#linkInsta:hover {
    border-bottom: 1px solid white;
    border-radius: 5%;
}

#INICIO,
#CONTATOS {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}

#INICIO {
    display: inline-block;
    position: relative;
}

#INICIO::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

#INICIO:hover::after {
    transform: scaleX(1);
}

#SOBRE {
    display: inline-block;
    position: relative;
}

#SOBRE::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

#SOBRE:hover::after {
    transform: scaleX(1);
}


#LOGIN {
    display: inline-block;
    position: relative;
}

#LOGIN::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

#LOGIN:hover::after {
    transform: scaleX(1);
}

#logo {
    height: 50px;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(1.06);
}

#textinhoLegal {
    margin-top: 7%;
}

#sidebar {
    margin: 0;
    height: auto;
    /* Ajuste para altura automática */
    width: 30%;
    /* Aumento da largura da sidebar */
    background-color: #343a40;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
    border: 1px solid transparent;
    border-radius: 20px;
}

h4 {
    display: flex;
    justify-content: center;
}

.contatos {
    margin-top: 5vh;
}

#imagemInstagram,
#imagemTelefone,
#imagemGmail {
    width: 3vh;
    height: 3vh;
    display: inline;
    margin-right: 3%;
}

#paragrafoInstagram,
#paragrafoTelefone,
#paragrafoGmail {
    display: inline-block;
}

#divInstagram,
#divTelefone {
    margin-bottom: 6%;
}

#logoBrecho {
    margin-left: 1vh;
    width: 95%;
    height: 30%;
}

#tudo {
    display: flex;
    flex-direction: row;
}

#mapaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#mapa {
    width: 100%;
    max-width: 800px;
    /* Definir largura máxima do mapa */
    text-align: center;
}

#tituloMapa {
    text-align: center;
    margin-bottom: 1rem;
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    #sidebar {
        width: 35%;
        /* Ajuste para telas maiores */
    }
}

@media (max-width: 992px) {
    #sidebar {
        width: 40%;
        /* Ajuste para tablets */
    }
}

@media (max-width: 768px) {
    #tudo {
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        /* Ajuste para dispositivos menores */
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    #logo {
        height: 40px;
    }

    #tituloMapa {
        font-size: 1rem;
    }

    #sidebar {
        width: 100%;
        /* Ajuste para dispositivos móveis */
        margin-bottom: 1rem;
    }
}

#INICIO,
#SOBRE,
#LOGIN {
    margin-left: 17px;
    margin-right: 17px;
}

#CARRINHO {
    margin-left: 15px;
    margin-right: 15px;
    opacity: 15%;
    pointer-events: none;
    cursor: default;
    
}

#cart-item-count{
    opacity: 15%;
    pointer-events: none;
    cursor: default;
}


#pFooter{
    opacity: 50%;
}