header {
margin-bottom: 5vh;
}
/* Botão para abrir o chat */
#botao-chat {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #161718;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Garante que esteja acima de outros elementos */
}

/* Container do chat expandido */
#container-chat {
    position: fixed;
    bottom: 100px; /* Ajuste para deixar espaço para o botão de fechar */
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 400px;
    overflow: hidden; /* Para esconder o overflow */
    display: none; /* Começa oculto */
    flex-direction: column;
    z-index: 998; /* Um nível abaixo do botão para que o botão esteja sempre visível */
}

/* Caixa de mensagens */
.caixa-mensagens {
    height: calc(100% - 70px); /* Altura ajustada para caber no espaço disponível */
    overflow-y: auto; /* Scroll vertical quando necessário */
    padding: 10px;
}

/* Estilo das mensagens */
.mensagem {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%; /* Limita a largura das mensagens */
}

/* Estilos para mensagens do usuário */
.usuario .mensagem {
    background-color: #f0f0f0;
    text-align: right;
    align-self: flex-end; /* Alinha mensagens do usuário à direita */
}

/* Estilos para mensagens do bot */
.bot .mensagem {
    background-color: #e0f7fa;
    text-align: left;
    align-self: flex-start; /* Alinha mensagens do bot à esquerda */
}

/* Triângulo indicativo para mensagens do bot */
.bot .mensagem:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7.5px; /* Ajusta para centrar verticalmente */
    left: -15px;
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-right: 15px solid #e0f7fa; /* Cor de fundo do bot */
}

/* Entrada de texto do usuário */
#entrada-usuario {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

/* Botão de enviar mensagem */
#botao-enviar {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

/* Botão para fechar o chat */
#fechar-chat {
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
    color: #007bff;
}

/* Efeito hover para o botão de fechar */
#fechar-chat:hover {
    text-decoration: underline;
    color: #0056b3;
}



.caixa-mensagens {
    height: 300px; /* Altura ajustada conforme necessário */
    overflow-y: auto; /* Scroll vertical quando necessário */
    padding: 10px; /* Espaçamento interno das mensagens */
    border: 1px solid #ccc; /* Borda para visualização */
}

/* Estilos para as mensagens */
.mensagem {
    margin-bottom: 10px; /* Espaçamento entre mensagens */
    padding: 10px; /* Espaçamento interno das mensagens */
    border-radius: 5px; /* Borda arredondada */
    max-width: 80%; /* Largura máxima das mensagens */
    word-wrap: break-word; /* Quebra de palavras longas */
    background-color: #f0f0f0; /* Cor de fundo padrão */
}

/* Estilos para mensagens do bot */
.bot .mensagem {
    background-color: #e0f7fa; /* Cor de fundo para mensagens do bot */
}

/* Estilos para mensagens do usuário */
.usuario .mensagem {
    text-align: right; /* Alinhamento à direita para mensagens do usuário */
    background-color: #f0f0f0; /* Cor de fundo para mensagens do usuário */
}



/* pagina */

.story-preview-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #ffffff;
    padding-top: 10vh;
}

.story-previews {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.story-preview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 3px solid #000000;
    transition: transform 0.3s ease;
}

.story-preview:hover {
    transform: scale(1.1);
}

.story-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin-top: 12vh;
}

.story-container {
    width: 240px; /* Menor largura */
    height: 427px; /* Manter proporção 9:16 */
    position: relative;
    background: #111;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 1s ease;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide.active {
    left: 0;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.progress-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1100; /* Garantir que esteja acima de outros elementos */
}

.progress-bar {
    height: 100%;
    background: #a1169a;
    transition: width 5s linear;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    z-index: 1100; /* Garantir que esteja acima de outros elementos */
}

@media (max-width: 768px) {
    .story-container {
        width: 80%;
        height: auto;
        aspect-ratio: 9 / 16;
    }

    .content {
        padding: 10px; /* Ajustar padding em telas menores */
    }

    .close-modal {
        top: 10px; /* Ajustar posição do botão fechar em telas menores */
        right: 10px;
        font-size: 24px; /* Ajustar tamanho da fonte do botão fechar em telas menores */
    }

    .progress-bar-container {
        height: 4px; /* Ajustar altura da barra de progresso em telas menores */
    }
}

/* mvv */

.container-faixa {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px 0;
}

.rotating-banner {
    width: 100%;
    overflow: hidden;
    color: #000;
    padding: 10px 0;
    position: relative;
    box-sizing: border-box;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 20s linear infinite;
}

.banner-content span, .banner-content img {
    white-space: nowrap;
    margin: 0 20px;
    font-size: 1.2em;
}

.banner-content img {
    height: 40px; /* Ajuste a altura da imagem conforme necessário */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.content {
    margin-top: 0;
    padding: 20px;
    background-color: #f0f0f0;
    color: #000;
}

.quem-somos {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}