.card {
    margin-top: 2rem;
   

}

/* mensagem do banner */

.message-banner {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: black; /* Cor de fundo da faixa */
    color: #ffffff; /* Cor do texto das mensagens */
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.messages {
    display: inline-block;
    white-space: nowrap;
    animation: slide 25s linear infinite;
}

.message {
    display: inline-block;
    padding: 0 2rem;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* cards de itens */

.item {
    margin: 4vw; /* Aumenta o espaçamento entre os itens */
    padding-left: 1vw; /* Reduz o padding para um look mais minimalista */
}

.card-body .title {
    font-size: large; /* Reduz o tamanho da fonte para um visual mais limpo */
}

button {
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Estilo para centralizar o conteúdo dos cards */
.card-body {
    text-align: center; /* Alinha o conteúdo ao centro */
}

/* Estilo para o botão de compra */
.btn-secondary {
    margin-top: 1.5em; /* Aumenta o espaçamento superior para mais espaço visual */
    padding: 0.5em 1em; /* Adiciona padding ao botão */
    font-size: small; /* Reduz o tamanho da fonte para minimalismo */
}



/* carrinho */

.cart-sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    display: flex;
    flex-direction: column; /* Para garantir que o conteúdo seja empilhado verticalmente */
}

.cart-items {
    flex: 1; /* Faz a área de itens expandir para preencher o espaço disponível */
    max-height: calc(100% - 100px); /* Defina a altura máxima desejada, deixando espaço para o cabeçalho e os botões */
    overflow-y: auto; /* Permite rolar verticalmente quando necessário */
    padding: 16px; /* Adicione preenchimento para evitar que os itens fiquem muito próximos às bordas */
}

.cart-sidebar .cart-header {
    background-color: #000000;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    background-color: #000000;
    color: #ffffff;
    padding: 16px;
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item .item-image {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    margin-right: 10px;
}

.cart-item .item-details {
    flex-grow: 1;
}

.cart-item .item-details .item-name {
    font-weight: bold;
}

.cart-item .delete-item-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.cart-buttons {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;

}

.cart-buttons .cancel-btn {
    padding: 8px 16px; /* Reduzindo o padding dos botões */
    font-size: 14px; /* Reduzindo o tamanho da fonte dos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-buttons .continue-btn {
    background-color: #4b7747;
    color: #fff;
}

.cart-buttons .cancel-btn {
    background-color: #551818;
    color: #fff;
}


/* sessão de diversidade */

.parallax-section {
    height: 100vh; /* Altura total da viewport */
    background-image: url('../IMG/bgDiversidade.png'); /* URL da imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-attachment: fixed; /* Mantém a posição da imagem de fundo fixa enquanto a página é rolada */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.containerDiversidade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDiversidade {
    width: 100%; /* Definindo largura do card */
}

.cardDiversidade img {
    width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container .btn {
    margin-bottom: 10px; /* Espaçamento entre os botões */
    width: 30px; /* Largura fixa dos botões */
    height: 30px; /* Altura fixa dos botões */
    border-radius: 50%; /* Deixa os botões circulares */
}



