.card {
    margin-top: 2rem;
   

}

/* mensagem do banner */

.message-banner {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: black; /* Cor de fundo da faixa */
    color: #ffffff; /* Cor do texto das mensagens */
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.messages {
    display: inline-block;
    white-space: nowrap;
    animation: slide 25s linear infinite;
}

.message {
    display: inline-block;
    padding: 0 2rem;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* cards de itens */

.item {
    margin: 4vw; /* Aumenta o espaçamento entre os itens */
    padding-left: 1vw; /* Reduz o padding para um look mais minimalista */
}

.card-body .title {
    font-size: large; /* Reduz o tamanho da fonte para um visual mais limpo */
}

button {
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Estilo para centralizar o conteúdo dos cards */
.card-body {
    text-align: center; /* Alinha o conteúdo ao centro */
}

/* Estilo para o botão de compra */
.btn-secondary {
    margin-top: 1.5em; /* Aumenta o espaçamento superior para mais espaço visual */
    padding: 0.5em 1em; /* Adiciona padding ao botão */
    font-size: small; /* Reduz o tamanho da fonte para minimalismo */
}



/* carrinho */

.cart-sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    display: flex;
    flex-direction: column; /* Para garantir que o conteúdo seja empilhado verticalmente */
}

.cart-items {
    flex: 1; /* Faz a área de itens expandir para preencher o espaço disponível */
    max-height: calc(100% - 100px); /* Defina a altura máxima desejada, deixando espaço para o cabeçalho e os botões */
    overflow-y: auto; /* Permite rolar verticalmente quando necessário */
    padding: 16px; /* Adicione preenchimento para evitar que os itens fiquem muito próximos às bordas */
}

.cart-sidebar .cart-header {
    background-color: #000000;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    background-color: #000000;
    color: #ffffff;
    padding: 16px;
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item .item-image {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    margin-right: 10px;
}

.cart-item .item-details {
    flex-grow: 1;
}

.cart-item .item-details .item-name {
    font-weight: bold;
}

.cart-item .delete-item-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.cart-buttons {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;

}

.cart-buttons .cancel-btn {
    padding: 8px 16px; /* Reduzindo o padding dos botões */
    font-size: 14px; /* Reduzindo o tamanho da fonte dos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-buttons .continue-btn {
    background-color: #4b7747;
    color: #fff;
}

.cart-buttons .cancel-btn {
    background-color: #551818;
    color: #fff;
}


/* sessão de diversidade */

.parallax-section {
    height: 100vh; /* Altura total da viewport */
    background-image: url('../IMG/bgDiversidade.png'); /* URL da imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-attachment: fixed; /* Mantém a posição da imagem de fundo fixa enquanto a página é rolada */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.containerDiversidade {
    max-width: 800px; /* Largura máxima do conteúdo para centralizar */
    width: 100%; /* Garante que o conteúdo se ajuste ao tamanho máximo */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Coloca os elementos em coluna */
    text-align: center; /* Centraliza o texto */
    background-color: rgba(8, 8, 8, 0.911); /* Cor de fundo com transparência */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
}

.cardDiversidade {
    width: 100%; /* Largura do card */
    margin-bottom: 20px; /* Espaçamento inferior */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do card */
    border-radius: 8px; /* Borda arredondada */
}

.cardDiversidade img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Mantém a proporção da imagem e corta para caber dentro do elemento */
    cursor: pointer; /* Adiciona um cursor pointer para indicar que é clicável */
}

.button-container {
    display: flex;
    flex-direction: row; /* Coloca os botões em linha */
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaçamento superior */
}

.button-container .btn {
    margin: 0 10px; /* Espaçamento entre os botões */
    width: 100px; /* Largura dos botões */
    height: 100px; /* Altura dos botões */
    border-radius: 50%; /* Deixa os botões circulares */
    display: flex; /* Permite centralizar conteúdo verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgb(255, 253, 253); /* Cor de fundo com transparência */
    border: none; /* Remove borda */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: all 0.3s ease; /* Transição suave */
}

.button-container .btn img {
    width: 100%; /* Ajusta a imagem dentro do botão */
    height: 100%;
}

.button-container .btn:hover {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column; /* Coloca os botões em coluna em telas menores */
    }

    .button-container .btn {
        margin: 10px 0; /* Espaçamento entre os botões em telas menores */
    }
}

/* login */

.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.form-container {
    width: 350px;
    height: 550px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
   
  }
  
  .title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
  }
  
  .sub-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 9px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
   
  }
  
  .input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
  }
  
  .form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: rgba(0, 0, 0, 0.521);
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-btn:active {
    box-shadow: none;
  }
  
  .sign-up-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 800;
  }
  
  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
  }
  
  .apple-login-button,
      .google-login-button {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    gap: 5px;
  }
  
  .apple-login-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
  }
  
  .google-login-button {
    border: 2px solid #747474;
  }
  

  .page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 700;
  }

  .page-link-label:hover {
    color: #000;
  }


 /* checkout */


  